@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');


:root{
    --dark-cyan- : hsl(158, 36%, 37%);
    --cream-:hsl(30, 38%, 92%);
    --very-dark-blue-: hsl(212, 21%, 14%);
    --dark-grayish-blue-: hsl(228, 12%, 48%);
    --White-: hsl(0, 0%, 100%);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 14px;
    font-family: 'Fraunces', serif;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--cream-);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    display: flex;
    justify-content: center;
}

.img-div .img-2{
    display: none;
}

.img-div .img-1{
    display: block;
    width: 300px;
    border-radius: 10px 0px 0px 10px;
}

.text-div{
    background-color: var(--White-);
    width: 30%;
    padding: 20px; 
    border-radius: 0px 10px 10px 0px;
}
.text-div h3{
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 5px;
    color: var(--dark-grayish-blue-);
}
.text-div-title{
    font-size: 37px;
    line-height: 35px;
    font-family: 'Fraunces', serif;
    margin: 30px 0; /*{ margin: top right bottom left} {margin: top-bottom left-right}*/
}
.text-div-para{
    margin-bottom: 20px;
    line-height: 1.5;
    color: var(--dark-grayish-blue-);
}
.text-div-price{
    color: var(--dark-cyan-);
    font-family: 'Fraunces', serif;
    font-size: 30px;
    display: flex;
    align-items: center;
}
.text-div-price span {
    color: var(--dark-grayish-blue-);
    font-size: 12px;
    text-decoration: line-through;
    font-family: 'Montserrat', sans-serif;
    margin-left: 20px;
}
.text-div-btn{
    width: 100%;
    border: none;
    outline: none;
    background-color: var(--dark-cyan-) ;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    color: var(--White-);
    cursor: pointer;
    margin: 20px auto;
}
@media  screen and (min-width: 720px) and (max-width: 1010px) {
    .text-div{
        width: 50%;
    }
}

@media (min-width:320px) and (max-width:550px){
    .img-div .img-1{
        display: none;
    }
    .img-div .img-2{
        display: block;
        width: 350px;
        border-radius: 10px 10px 0px 0px;
    }
    .container{
        padding: 20px 50px;
        flex-direction: column;
        align-items: center;
    }
    .text-div{
       width: 350px;
       border-radius: 0px 0px 10px 10px;
    }
    .text-div-title{
        margin: 10px 0;
    }
    .text-div-btn{
        margin-bottom: 0px;
    }
}